.inputbox{
    width: 500px;
}

.button{
    width: 200px;
    text-align: center;
}

#mainloginpage{
    margin-top: 30px;
    text-align: center;
}

body {
    background-repeat:no-repeat;
    background-image:url(../images/bamboo2.jpg);
}

.form-control{
    width:70%;
}