.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.button{
    width: 200px;
    text-align: center;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background-color: transparent;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-slider-input {
    display : none !important;
}
.ui-slider-track{
    margin:0 15px 0 15px;
}

body {
    background-repeat:no-repeat;
    background-image:url(../images/bamboo2.jpg);
}