<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/scripts/jquery.circliful.js"></script>
    <link href="/css/jquery.circliful.css">
</head>
<body>
{{{body}}}
</body>
</html>