<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Screen</title>
    <script> src="../js/bootstrap.js"</script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{{{body}}}
</body>
</html>