<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/scripts/jquery.circliful.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.circliful.css">
    <style>
        body {
            width: 100%;
            margin: 0;
        }
    </style>
    <script>
        function fullscreen(element) {
            document.body.webkitRequestFullScreen();
            element.parentNode.removeChild(element);
        }
    </script>
</head>
<body>
{{{body}}}
<button style="position:fixed; top:0; left:0" onclick="fullscreen(this)">Fullscreen</button>
</body>
</html>