<div class="outer_container">
    <style scoped>
        div.outer_container {
            min-height: 100vh;
            background-image: url('/images/download.gif');
            background-size: cover;
        }

        div.circles {
            position: relative;
            width: 1400px;
            padding: 0 calc((100% - 1400px) / 2);
            margin: auto;
        }

        div.circles div {
            display: inline-block;
            position: relative;
            width: 30%;
            margin-left: 2.5%;
            overflow: hidden;
        }

        div.messages {
            position: fixed;
            bottom: 0;
        }

        div.message {
            position: relative;
            left: 4.25vw;
            width: 85vw;
            padding: 15px 20px 15px 15px;
            border-radius: 10px;
            margin: 0 0 20px;
        }

        div.message i:before {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        div.warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border: 1px solid #faebcc;
        }

        div.error {
            color: #a94442;
            background-color: #f2dede;
            border: 1px solid #ebccd1;
        }

        div.buttons {
            position: fixed;
            left: calc(50% - 400px);
            bottom: 0;
            width: 800px;
            height: 60px;
        }

        div.buttons a {
            height: 100%;
            color: green;
        }

        div.buttons a:nth-child(1) {
            position: absolute;
            left: 0;
            width: calc(25% - 4px);
            z-index: 1;
        }

        div.buttons a:nth-child(2) {
            position: absolute;
            left: 25%;
            width: 50%;
        }

        div.buttons a:nth-child(3) {
            position: absolute;
            left: 75%;
            width: calc(25% - 4px);
        }

        div.buttons a:nth-child(1) div {
            border-top-left-radius: 25px;
            border: 2px solid lightgrey;
            box-shadow: -2px -2px 10px black;
        }

        div.buttons a:nth-child(2) div {
            border-top: 2px solid lightgrey;
            box-shadow: 0 -2px 10px black;
        }

        div.buttons a:nth-child(3) div {
            border-top-right-radius: 25px;
            border: 2px solid lightgrey;
            box-shadow: 2px -2px 10px black;
        }

        div.buttons div {
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }

        div.buttons div i {
            width: 100%;
            text-align: center;
            line-height: 100px;
            font-size: 50px;
        }

        @media screen and (max-width: 500px) {
            div.circles {
                width: 100%;
                margin-bottom: 30px;
            }

            div.circles div {
                width: 49vw;
                height: 49vw;
                margin-left: 0;
            }

            svg.circliful {
                position: relative;
                top: -15%;
                left: -15%;
                width: 130%;
            }

            div.message {
                margin: auto auto 4.25vw;
            }

            div.buttons {
                left: 0;
                width: 100%;
                height: 50px;
            }

            div.buttons div i {
                line-height: 50px;
                font-size: 28px;
            }
        }
    </style>

    <div class="circles">
        <div id="methane"></div>
        <div id="pollen"></div>
        <div id="air_quality"></div>
        <div id="carbon_monoxide"></div>
        <div id="humidity"></div>
        <div id="temperature"></div>
    </div>

    <div class="buttons">
        <a href="/journeyplanner">
            <div><i class="fa fa-map" aria-hidden="true"></i></div>
        </a>
        <a href="/symptoms">
            <div><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a>
        <a href="/alerts">
            <div style="position:fixed; right:0; background-color: red; line-height:28px; text-align: center; color: white; height:30px; width:30px; border-radius:30px;">4</div>
            <div><i class="fa fa-envelope" aria-hidden="true"></i></div>
        </a>
    </div>

    <div id="messages" class="messages">
    </div>

    <button style="position:fixed; top:0; left:0" onclick="fullscreen(this)">Fullscreen</button>

    <script>

        var options = {
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            icon: 'f0a0',
            text: "Temperature",
            textColor: "#fff"
        };
        $(document).ready(function () {
            var percentage = {
                methane: 10,
                pollen: 20,
                air_quality: 20,
                carbon_monoxide: 90,
                humidity: 50,
                temperature: 75
            };

            options.text = "Methane";
            options.foregroundColor = getColour(percentage.methane);
            options.percent = {{methane}};
            options.icon = "f0c2";
            $("#methane").circliful(options);
            options.text = "Pollen";
            options.foregroundColor = getColour(percentage.pollen);
            options.percent = percentage.pollen;
            options.icon = "f18c";
            $("#pollen").circliful(options);
            options.text = "Air Quality";
            options.foregroundColor = getColour(percentage.air_quality);
            options.percent = {{air_quality}};
            options.icon = "f299";
            $("#air_quality").circliful(options);
            options.text = "CO";
            options.foregroundColor = getColour(percentage.carbon_monoxide);
            options.percent = percentage.carbon_monoxide;
            options.icon = "f1b9";
            $("#carbon_monoxide").circliful(options);
            options.text = "Humidity";
            options.foregroundColor = getColour(percentage.humidity);
            options.percent = percentage.humidity;
            options.icon = "f043";
            $("#humidity").circliful(options);
            options.text = "Temperature";
            options.foregroundColor = getColour(percentage.temperature);
            options.percent = percentage.temperature;
            options.icon = "f0e9";
            options.unit = "°C";
            $("#temperature").circliful(options);

            /*setTimeout(function () {
                createMessage("Avoid going down Field Lane due to high carbon monoxide levels", "warning");
            }, 2000);
            setTimeout(function () {
                createMessage("Sudden increase in asthma detected near Piccadilly Circus", "error");
            }, 5000);*/

            $(".svg-container").on("click", function()
            {   
                window.location = "/map/"+this.id;
            });
        });

        function getColour(val) {
            if (val <= 25) {
                return "#2ecc71";
            }
            else if (val <= 50) {
                return "#f1c40f"
            }
            else if (val <= 75) {
                return "#e67e22"
            }
            else if (val <= 100) {
                return "#F22613"
            }
        }

        function createMessage(message, type) {
            document.getElementById("messages").innerHTML += "<div class=\"message " + type + "\">" + message + "<i class=\"fa fa-times\" aria-hidden=\"true\" onclick=\"deleteMessage(this.parentNode)\"></i></div>";
        }

        function deleteMessage(element) {
            element.parentNode.removeChild(element);
        }

        function fullscreen(element) {
            document.body.webkitRequestFullScreen();
            element.parentNode.removeChild(element);
        }
    </script>
</div>