<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script> src="../js/bootstrap.js"</script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/loginpage.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="form-group inputbox center-block">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group inputbox center-block">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group inputbox center-block">
    <label for="pwdtwo">Confirm password:</label>
    <input type="password" class="form-control" id="pwdtwo">
</div>
<h2 class="text-center">What allergies do you have?</h2>
<div class="btn btn-default center-block button">
    pollen
</div>
<div class="btn btn-default center-block button">
    dust
</div>
<div class="btn btn-default center-block button">
    smoke
</div>
<div class="btn btn-default center-block button">
    fire
</div>
</body>
</html>