<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script> src="../js/bootstrap.js"</script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

</body>
</html>