<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Screen</title>
    <script> src = "../scripts/bootstrap.js"</script>
    <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../css/loginpage.css">
</head>
<body>
<div id="symptomsinput">
    <div class="container-fluid center-block">
        <h1 class="text-center">Symptoms</h1>
    </div>

    <div class="btn btn-allergy btn-default center-block button">
        Irritations of the eyes, <br> nose and throat
    </div>
    <div class="btn btn-allergy btn-default center-block button">
        Coughing
    </div>
    <div class="btn btn-allergy btn-default center-block button">
        Chest Tightness
    </div>
    <div class="btn btn-allergy btn-default center-block button">
        Shortness of breath
    </div>
    <div class="btn btn-allergy btn-default center-block button">
        Heart palpitations
    </div>

    <a href="/">
        <div class="btn btn-primary center-block button">
            <h2 style="margin:10px;">Submit</h2>
        </div>
    </a>


</div>

<script type="text/javascript">
    $(".btn-allergy").on("click", function()
    {
        $(this).toggleClass("active");
    });
</script>
</body>
</html>